

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: grey;
}

.navItem button {
    background-color: white;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1.5em;
    text-transform: uppercase;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.products .product {
    margin: 40px;
    padding: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 25px 25px 10px rgba(0,0,0,0.5);
    transition: .2s;
    position: relative;
}

.products .product:hover {
    box-shadow: 0px 25px 25px 5px rgba(0,0,0,0.5);
    transition: .2s;
}

.products .image {
    margin: 10px auto 10px auto;
}

.products .product img {
    height: 150px;
    object-fit: contain;
}

.products .desc {
    text-align: center;
    margin-bottom: 40px;
}

.products .desc p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.products .description, .products .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.products .title {
    -webkit-line-clamp: 1;
    line-clamp: 1; 
}

.products .description {
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.products .price {
    font-weight: 600;
}

.products .buy {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(190, 190, 190);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.products .buy button {
    padding: 10px;
    width: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    transition: .2s;
}

.products .buy button:hover {
    transition: .2s;
    background-color: lightblue;
}


.loader img {
    display: block;
    margin: 50px auto;
}

.carts {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.productsCarts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.carts .product {
    width: 500px;
    height: 150px;
    box-shadow: 0px 25px 25px 10px rgba(0,0,0,0.5);
    margin-top: 50px;
}

.carts .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;

}

.carts .buyMore span {
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.decrementProduct, .incrementProduct {
    background-color: grey;
}


.carts .product img {
    height: 100px;
    object-fit: contain;
}

.form {
    width: 400px;
    padding: 10px;
    box-shadow: 0px 25px 25px 10px rgba(0,0,0,0.5);
    margin-top: 50px;
}

.form input::placeholder, .form input[type="text"] {
    font-size: 1.3em;
    color: black;
}

.form input, .form button {
    width: 90%;
    margin: 15px;
    padding: 10px;
}

.form button {
    font-size: 2em;
    background-color: grey;
}

.form input[type="submit"] {
    background-color: aqua;
    font-size: 1.5em;
}

strong {
    margin-top: 50px;
    text-decoration: underline;
}

.rating img {
    width: 13px;
    margin-left: 5px;
    height: 13px !important;
}